.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
}

.app-content {
  flex: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}
